/* CUSTOM CURSORS */
/* START */
#custom-cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 52px;
  height: 52px;
  pointer-events: none;
  z-index: 9999;
  /*
  transition: 
    filter 0.2s, 
    transform 0.2s,
    opacity 0.2s;
  */
  transform-origin: 26px 26px;
}

#scaleSup {
  transform: scale(0.7);
  transform-origin: 26px 26px;
  transition: transform 0.2s ease;
}

@keyframes spin-hover {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@keyframes scaleup-hover {
  from { transform: scale(0.7); }
  to   { transform: scale(1); }
}

@keyframes scaledown-hover {
  from { transform: scale(1); }
  to   { transform: scale(0.7); }
}

@keyframes fill-timer {
  from { stroke-dashoffset: 150; }
  to   { stroke-dashoffset: 0; }
}

/* cursor mode */
.custom-cursor-on .TimerBlueEffect,
.custom-cursor-on .TimerRedEffect,
.custom-cursor-on .blueBlinkEffect,
.custom-cursor-on .redBlinkEffect,
.custom-cursor-on .hoverAnimPointArray {
  display: none;
}

.custom-cursor-on .cursor-base {
  display: block;
}
.custom-cursor-on .cursor-base .baseStack {
  display: inline;
  transform-origin: 26px 26px;
}
.custom-cursor-on .cursor-base .hoverAnimPointArray {
  display: none;
}
.custom-cursor-on .cursor-base--hover {
  display: block;
}
.custom-cursor-on .cursor-base--hover .baseStack {
  display: inline;
  transform-origin: 26px 26px;
}
.custom-cursor-on .cursor-base--hover .hoverAnimPointArray,
.custom-cursor-on .cursor-base--hover .hoverAnimPointArrayB,
.custom-cursor-on .cursor-base--hover .hoverAnimPointArrayR {
  display: inline;
  animation: spin-hover 8s linear infinite;
  transform-origin: 26px 26px;
}
.custom-cursor-on .scaleup .baseScaleAnchor {
  display: inline;
  transform: scale(1);
  transition: transform 0.2s ease;
  transform-origin: 26px 26px;
}
.custom-cursor-on .scaledown .baseScaleAnchor {
  display: inline;
  transform: scale(0.7);
  transition: transform 0.2s ease;
  transform-origin: 26px 26px;
}

.custom-cursor-on .cursor-base--active {
	
}
.custom-cursor-on .cursor-input {
	
}
.custom-cursor-on .cursor-background{
	
}
.custom-cursor-on .cursor-grab-map{
	
}
.custom-cursor-on .cursor-grab-marker{
	
}
/* cursor modifier */
.custom-cursor-on .cursor-blink-blue{
	
}
.custom-cursor-on .cursor-blink-red{
	
}
.timer-progress {
	animation: fill-timer 0.4s linear forwards;
}
.custom-cursor-on .cursor-timer .TimerEffect .TimerBlueEffect{
	
}
.custom-cursor-on .cursor-timer .TimerEffect .TimerRedEffect{
	
}
.custom-cursor-on .cursor-scale-up{
	
}
.custom-cursor-on .cursor-scale-down{
	
}
.custom-cursor-on .cursor-attenuation{
	
}
/* END */
/* CUSTOM CURSORS */