.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* для Safari */
  border: 1px solid rgba(255,255,255,0.08);
  box-shadow:
    0 0 30px rgba(0, 200, 255, 0.08),
    inset 0 0 20px rgba(255,255,255,0.03);
}
.modal-content {
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0px 0px 40px 12px rgb(0 0 0 / 60%), inset -2px -2px 10px 0px rgb(0 255 246 / 14%);
}
.modal-exit-btn {
  background: none;
  border: none;
  border-radius: 8px;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
  margin: 0;
}
.modal-exit-img {
  transition: var(--filter-transition);
  width: 2.5rem;
  height: 2.5rem;
  filter: var(--svg-red-soft-glow);
  transform: scale(1.00);
}
.hidden {
  display: none !important;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-select {
  user-select: none;
}

.modal-text-h {
  margin-top: 1em;
  font-size: 1.35em;
  font-family: 'Nordic';
  padding: 1em;
  width: calc(100% - (2.5em * 2));
  filter: var(--svg-blue-text-glow);
  transform: scale(1.0);
  pointer-events: none;
}
[role="dialog"] {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 9998;
}
[aria-selected="true"] {
  color: #4eeb27;
  border-color: #05a55d;
  background: var(--gradient-glow);
}

.user-modal-tabcontent {
    position: relative;
    width: 80%;
}
.user-modal-tablist {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  margin-right: 0.5em;
  border: solid;
  border-width: 0px;
  border-right-width: 2px;
  border-color: #0a9354;
}
.tab-button {
  color: #e5e5e5;
  font-family: 'Nordic';
  font-size: 1.2em;
  height: 3em;
  border-bottom: solid;
  border-width: 0;
  border-bottom-width: 2px;
  border-color: #087141;
  background: #007b5e3b;
  transition: var(--color-transition);
}
#user-modal-tab-0 {
  border-top-left-radius: 1em;
}
#user-modal-exit {
    width: 3rem;
    height: 3rem;
    z-index: +1;
}
#user-modal-exit-img {
  width: 3rem;
  height: 3rem;
}
.account-info-logout-button-container {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 3em;
    bottom: 2em;
}
.toggle-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.25rem;
}
.text-warning {
    color: #9b2a2a;
    filter: var(--svg-red-soft-glow);
}
.statistics-parameter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-modal-content .parameter-value {
    font-size: 1.2em;
    margin-left: 0.55em;
    color: #e5e5e5;
    border-left: solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.15em;
    padding-bottom: 0.05em;
    border-width: 1px;
    border-radius: 0.3em;
}

.confirm-modal-content {
  background: #061d25e5;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
}
.confirm-modal-text {
  color: #e5e5e5;
  background: none;
}

.exit-modal-content {
  display: flex;
  position: relative;
  background: #2f1010ba;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
  width: 40em;
  flex-direction: column;
  align-items: center;
}
.modal-text {
  color: #e5e5e5;
  background: none;
}

.login-modal-text {
  color: #e5e5e5;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}

.login-modal-content {
    display: flex;
    background: #0B0B0B;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 25rem;
    height: 12.5rem;
    border-radius: 1.5em;
}
.login-modal-providerlist {
  position: absolute;
  bottom: 2.5em;
  height: 40px;
}
.login-modal-google-img {
  transition: var(--filter-transition);
  filter: var(--svg-blue-soft-glow);
  transform: scale(1.00);
  border-radius: 100%;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .login-modal-google-img:hover {
    filter: var(--svg-blue-glow);
    transform: scale(1.05);
    border-radius: 100%;
  }
  .modal-exit-img:hover {
    filter: var(--svg-red-glow);
    transform: scale(1.05);
  }
  .tab-button:hover {
    color: #3fe914;
    border-color: #0b9959;
    background: #0097743b;
  }
  [aria-selected="true"]:hover {
    color: #4eeb27;
    border-color: #05a55d;
    background: var(--gradient-glow);
  }
}