.confirm-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
}
.confirm-modal-content {
  background: #061d25e5;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
}
.confirm-modal-text {
  color: #e5e5e5;
  background: none;
}

.exit-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
}
.exit-modal-content {
  background: #061d25e5;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
}
.modal-text {
  color: #e5e5e5;
  background: none;
}

.login-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
}

.login-modal-content {
  display: flex;
  background: #0B0B0B;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 20rem;
  height: 10rem;
}
.login-modal-exit {
  background: none;
  border: none;
  border-radius: 8px;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.login-modal-text {
  color: #e5e5e5;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}
.login-modal-exit-img {
  width: 2rem;
  height: 2rem;
}

.login-modal-content {
  display: flex;
}

.hidden {
  display: none !important;
}

[role="dialog"] {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 9998;
}