body {
  margin: 0;
  font-family: sans-serif;
  background: #1e1e1e;
  color: white;
  text-align: center;
  cursor: none;
}

#map {
  width: 100%;
  height: 90vh;
}
/* cursors */
/* START */
.leaflet-interactive {
	cursor: none;
	}
.leaflet-grab {
	cursor: none;
	}
.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
	cursor: none;
	}
.leaflet-popup-pane,
.leaflet-control {
	cursor: none;
	}
.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
	cursor: none;
	cursor: none;
	cursor: none;
	cursor: none;
	}
/* END */
/* cursors */